@import "../../../../common/constants.scss";

.moment__comments {
  background-color: #fafafa;
  background-clip: padding-box;
  border-radius: 0 0 $default-radius $default-radius;
  transition: background-color $default-transition-duration ease-in-out;

  &:hover {
    background-color: #f3f3f3;
  }
}

.moment__comments__header {
  padding: $default-padding;
  display: flex;
  align-items: center;
}

.moment__comments__title {
  flex: 1;
  @include small-text();
  color: black;
  padding-right: $default-padding;
}

.moment__comments__icon {
  flex: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  overflow: hidden;
  opacity: 1;
  transition: opacity $default-transition-duration $default-transition-duration
      ease-in-out,
    width 0s $default-transition-duration,
    transform $default-transition-duration $default-transition-duration
      ease-in-out;

  .moment__comments--open & {
    width: 0;
    opacity: 0;
    transition: opacity $default-transition-duration ease-in-out,
      width 0s $default-transition-duration,
      transform $default-transition-duration ease-in-out;
    transform: translateY(-10px);
  }

  .moment__comments--open &.moment__comments__icon--opposite {
    width: 24px;
    opacity: 1;
    transition: opacity $default-transition-duration
        $default-transition-duration ease-in-out,
      width 0s $default-transition-duration,
      transform $default-transition-duration $default-transition-duration
        ease-in-out;
    transform: rotate(180deg) translateY(0);
  }

  &.moment__comments__icon--opposite {
    width: 0;
    opacity: 0;
    transition: opacity $default-transition-duration 0s ease-in-out,
      width 0s $default-transition-duration,
      transform $default-transition-duration 0s ease-in-out;
    transform: rotate(180deg) translateY(10px);
  }

  svg {
    width: 100%;
  }
}

.moment__comments__items {
  overflow: hidden;
  max-height: 0px;
  transition: max-height $default-transition-duration
    $default-transition-duration ease-in-out;
  .moment__comments--open & {
    transition: max-height $default-transition-duration 0ms ease-in-out;
  }
}

.moment__comments__items__inner {
  opacity: 0;
  padding: $default-padding;
  transition: opacity $default-transition-duration 0ms ease-in-out;
  .moment__comments--open & {
    opacity: 1;
    transition: opacity $default-transition-duration
      $default-transition-duration ease-in-out;
  }
}

.moment__comments__item {
  display: flex;
  align-items: center;
  padding: $default-padding 0;
}

.moment__comments__item__avatar {
  flex: none;
  height: 64px;
  width: 64px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
}

.moment__comments__item__content {
  flex: 1;
  padding-left: $default-padding;
}

.moment__comments__item__header {
  @include small-text();
  color: black;
  span {
    color: gray;
  }
}

.moment__comments__item__message {
  @include small-text();
}
