@import "../common/constants.scss";

@keyframes moment_appear {
  from {
    opacity: 0;
    transform: translateY(-200px);
    pointer-events: none;
  }
  to {
    opacity: 1;
    transform: translateY(0);
    pointer-events: all;
  }
}

@keyframes moment_disappear {
  from {
    opacity: 1;
    transform: translateY(0);
    pointer-events: none;
  }
  to {
    opacity: 0;
    transform: translateY(-200px);
    pointer-events: none;
  }
}

.moments {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.moments__moment {
  flex: none;
  width: 49%;
  margin-bottom: 20px;
  opacity: 0;
  animation: moment_appear $default-transition-duration ease-in-out 0s 1 normal
    forwards;
  pointer-events: none;
  border-radius: $default-radius;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: box-shadow $default-transition-duration ease-in-out;

  .router.fade_out & {
    opacity: 1;
    animation: moment_disappear $default-transition-duration ease-in-out 0s 1
      normal forwards;
  }

  &:hover {
    box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
  }

  &.moments__moment--shown {
    pointer-events: all;
  }
}

.moments__moment__picture {
  padding-top: 100%;
  position: relative;
  overflow: hidden;
  border-radius: $default-radius $default-radius 0 0;
  background-clip: padding-box;
}

.moments__moment__picture__inner {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-position: center center;
  background-size: cover;
  transition: transform $default-transition-duration ease-in-out;
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    transition: opacity $default-transition-duration ease-in-out;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .moments__moment:hover & {
    transform: scale(1.15);
  }

  .moments__moment:hover &::after {
    opacity: 1;
  }
}

.moments__moment__content {
  background-color: #ffffff;
  background-clip: padding-box;
  border-radius: 0 0 $default-radius $default-radius;
  padding: $default-padding;
}

.moments__moment__header {
  display: flex;
  height: 72px;
}

.moments__moment__title {
  flex: 1;
  padding-right: $default-padding;
  line-height: 24px;
  font-size: 18px;
  color: black;
  font-weight: bold;

  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.moments__moment__author {
  height: 64px;
  width: 64px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.moments__moment__under {
  margin-top: 10px;
  display: flex;
  height: 16px;
}

.moments__moment__comments {
  flex: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  @include small-text();
  padding-right: $default-padding;
}

.moments__moment__organization {
  flex: none;
  width: 30%;
  @include small-text();
  &.moments__moment__organization--shown {
    width: auto;
  }
}

@media only screen and (max-width: 576px) {
  .moments__moment {
    width: 100%;
  }
}
