@keyframes page_appear {
  from {
    opacity: 0;
    transform: translateY(-200px);
    pointer-events: none;
  }
  to {
    opacity: 1;
    transform: translateY(0);
    pointer-events: all;
  }
}

@keyframes page_disappear {
  from {
    opacity: 1;
    transform: translateY(0);
    pointer-events: none;
  }
  to {
    opacity: 0;
    transform: translateY(200px);
    pointer-events: none;
  }
}

.app {
}

.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto 0;
  padding: 50px 16px;
  box-sizing: border-box;
}

.router {
  animation: page_appear 1s ease-in-out 0s 1 normal forwards;
}

.router.fade_out {
  animation: page_disappear 1s ease-in-out 0s 1 normal forwards;
}
